@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
    body{
      font-family: 'Noto Sans TC', sans-serif;
    }
    .navbar {  
      background-color:#f2f2f2;
      position: fixed;
      top: 0;
      width: 100%;
      height: 25%;
    }
    .triangle {  
      position: fixed;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 200px 50px 0 0px;
      border-color: #83E5DE transparent transparent transparent;
      z-index: 3;

    }
#nav1{
  width: 10%;
  height: 33%;
  left: 10%;
  top: 10em;
  position: absolute;
  background-color: #F4A22C;
}  
#navid1{
  font-size: 1.4em;
  font-weight: 500;
  color: #144959;
  position: absolute;
  left: 21%;
  top: 10%;
}
#nav2{
  width: 10%;
  height: 33%;
  left: 21%;
  top: 10em;
  position: absolute;
  background-color: #F4A22C;
}  
#navid2{
  font-size: 1.4em;
  font-weight: 500;
  color: #144959;
  position: absolute;
  left: 21%;
  top: 10%;
}
#nav3{
  width: 12%;
  height: 33%;
  left: 32%;
  top: 10em;
  position: absolute;
  background-color: #F4A22C;
}  
#navid3{
  font-size: 1.4em;
  font-weight: 500;
  color: #144959;
  position: absolute;
  left: 21%;
  top: 10%;
}
#nav4{
  width: 12%;
  height: 33%;
  left: 45%;
  top: 10em;
  position: absolute;
  background-color: #F4A22C;
}  
#navid4_1{
  font-size: 1.4em;
  font-weight: 500;
  color: #144959;
  position: absolute;
  left: 15%;
  top: 10%;
}
#navid4_2{
  font-size: 1.4em;
  font-weight: 500;
  color: #144959;
  position: absolute;
  left: 25%;
  top: 45%;
}
#nav5{
  width: 12%;
  height: 33%;
  left: 58%;
  top: 10em;
  position: absolute;
  background-color: #F4A22C;
}  
#navid5_1{
  font-size: 1.4em;
  font-weight: 500;
  color: #144959;
  position: absolute;
  left: 15%;
  top: 10%;
}
#navid5_2{
  font-size: 1.4em;
  font-weight: 500;
  color: #144959;
  position: absolute;
  left: 25%;
  top: 45%;
}
#nav6{
  width: 12%;
  height: 33%;
  left: 71%;
  top: 10em;
  position: absolute;
  background-color: #F4A22C;
}  
#navid6{
  font-size: 1.4em;
  font-weight: 500;
  color: #144959;
  position: absolute;
  left: 14%;
  top: 10%;
}
#nav7{
  width: 10%;
  height: 33%;
  left: 84%;
  top: 10em;
  position: absolute;
  background-color: #F4A22C;
}  
#navid7{
  font-size: 1.4em;
  font-weight: 500;
  color: #144959;
  position: absolute;
  left: 21%;
  top: 10%;
}  
/*細橘線*/
    .line {  
      background-color:#F4A22C;
      position: fixed;
      top: 25.5%;
      width: 100%;
      height: 0.8%;
    }
/*粗橘線*/
    .line2 {  
      background-color:#F4A22C;
      position: fixed;
      right: 0;    /*整行橘色*/
      top: 72.4%;
      width: 600em;
      height: 9%;
    }
/*灰*/
    .line3 {  
      background-color:#D8D8D8;
      position: fixed;
      right: 0;   /*整行灰色*/
      bottom: 3.7%;
      width: 700em;
      height: 15%;
    }
/*左box transition*/
    .one  {
      width: 20%;
      height: 63.5%;
      bottom: 17.2em;
      background-color:#AAC0CA;   
      opacity: 0.9;
      -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
      -moz-transition: width 2s;
      -o-transition: width 2s;
      transition: width 2s;
      position: relative;
      z-index: 7;
      
    }

    .one:hover {
      width: 55%;
      z-index: 7;
      transform-origin: left top;
      transform: skewX(-15deg);
      
    }

    .two {
      width: 20%;
      height: 63.5%;
      bottom: 17.5em;
      background-color:#88B0AD;   
      opacity: 0.9;
      -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
      -moz-transition: width 2s;
      -o-transition: width 2s;
      transition: width 2s;
      position: relative;
      z-index: 7;
    }

    .two:hover {
      width: 55%;
      z-index: 7;
      transform-origin: left top;
      transform: skewX(-15deg);
    }

    .three {
      width: 20%;
      height: 63.5%;
      bottom: 17.7em;
      background-color:#D8C59A;   
      opacity: 0.9;
      -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
      -moz-transition: width 2s;
      -o-transition: width 2s;
      transition: width 2s;
      position: relative;
      z-index: 7;
    }

    .three:hover {
      width: 55%;
      z-index: 7;
      transform-origin: left top;
      transform: skewX(-15deg);
    }

/*右欄BOX hover*/
#rbox1{
  background-color: black;
  opacity: 0.8;
  display: none;
  position: absolute;
  padding: 20px;
  top: 104%;
  /*margin-right: 100px;*/
  left: 35em;
  height: 50em;
  width: 42em;
  color: white;
}
#right1:hover + #rbox1{
  display: block;
}

#rbox2{
  background-color: black;
  opacity: 0.8;
  display: none;
  position: absolute;
  padding: 20px;
  top: 104%;
  /*margin-right: 100px;*/
  left: 35em;
  height: 50em;
  width: 42em;
  color: white;
}
#right2:hover + #rbox2{
  display: block;
}

#rbox3{
  background-color: black;
  opacity: 0.8;
  display: none;
  position: absolute;
  padding: 20px;
  top: 104%;
  /*margin-right: 100px;*/
  left: 35em;
  height: 50em;
  width: 42em;
  color: white;
}
#right3:hover + #rbox3{
  display: block;
}

#rbox4{
  background-color: black;
  opacity: 0.8;
  display: none;
  position: absolute;
  padding: 20px;
  top: 104%;
  /*margin-right: 100px;*/
  left: 35em;
  height: 50em;
  width: 42em;
  color: white;
}
#right4:hover + #rbox4{
  display: block;
}

#rbox5{
  background-color: black;
  opacity: 0.8;
  display: none;
  position: absolute;
  padding: 20px;
  top: 104%;
  /*margin-right: 100px;*/
  left: 35em;
  height: 50em;
  width: 42em;
  color: white;
}
#right5:hover + #rbox5{
  display: block;
}
/*下方img1*/
.img1{
  z-index: 3;
  position: fixed;
  top: 72.5%;
  height: 23.5%;
  width: 13%;
  left: 4%;
}
img.01{
  box-shadow: inset 0px 0px 50px 0px #ABABAB,2px -8px 18px 10px #242424;
  -webkit-box-shadow: inset 0px 0px 50px 0px #ABABAB,2px -8px 18px 10px #242424;
  -moz-box-shadow: inset 0px 0px 50px 0px #ABABAB,2px -8px 18px 10px #242424;
  -o-box-shadow: inset 0px 0px 50px 0px #ABABAB,2px -8px 18px 10px #242424;
}
.text1{
  position: absolute;
  bottom: 5%;
  left: 25%;
  /*background-color: black;*/
  color: #040000;
  font-size: 1.3em;
  font-weight: 500;
  line-height: 1.0em;
}
/*下方img2*/
.img2{
  z-index: 3;
  position: fixed;
  left: 18%;
  top: 72.5%;
  height: 23.5%;
  width: 13%;
}
.text2{
  position: absolute;
  bottom: 5%;
  left: 25%;
  /*background-color: black;*/
  color: #040000;
  font-size: 1.3em;
  font-weight: 500;
  line-height: 1.0em;
}
/*下方img3*/
.img3{
  z-index: 3;
  position: fixed;
  left: 33%;
  top: 72.5%;
  height: 23.5%;
  width: 13%;
}
.text3{
  position: absolute;
  bottom: 5%;
  left: 27%;
  /*background-color: black;*/
  color: #040000;
  font-size: 1.3em;
  font-weight: 500;
  line-height: 1.0em;
}
/*下方img4*/
.img4{
  z-index: 3;
  position: fixed;
  left: 47%;
  top: 72.5%;
  height: 23.5%;
  width: 13%;
}
.text4{
  position: absolute;
  bottom: 5%;
  left: 25%;
  /*background-color: black;*/
  color: #040000;
  font-size: 1.3em;
  font-weight: 500;
  line-height: 1.0em;
}
/*下方img5*/
.img5{
  z-index: 3;
  position: fixed;
  left: 61%;
  top: 72.5%;
  height: 23.5%;
  width: 13%;
}
.text5{
  position: absolute;
  bottom: 5%;
  left: 28%;
  /*background-color: black;*/
  color: #040000;
  font-size: 1.3em;
  font-weight: 500;
  line-height: 1.0em;
}
/*下方img6*/
.img6{
  z-index: 3;
  position: fixed;
  left: 74%;
  top: 72.5%;
  height: 23.5%;
  width: 13%;
}
.text6{
  position: absolute;
  bottom: 19%;
  left: 28%;
  /*background-color: black;*/
  color: #040000;
  font-size: 1.3em;
  font-weight: 500;
  line-height: 1.0em;
}
/*下方img7*/
.img7{
  z-index: 3;
  position: fixed;
  left: 86%;
  top: 72.5%;
  height: 23.5%;
  width: 13%;
}
.text7{
  position: absolute;
  bottom: 19%;
  left: 28%;
  /*background-color: black;*/
  color: #040000;
  font-size: 1.3em;
  font-weight: 500;
  line-height: 1.0em;
}

/*關於本室，訊息公告.....hover後橘色效果*/
li.a:hover,#nav1:hover{
  background-color: #F4A22C;
  color: #FFFFFF;
}
li.b:hover,#nav2:hover{
  background-color: #F4A22C;
  color: #FFFFFF;
}
li.c:hover,#nav3:hover{
  background-color: #F4A22C;
  color: #FFFFFF;
}
li.d:hover,#nav4:hover{
  background-color: #F4A22C;
  color: #FFFFFF;
}
li.e:hover,#nav5:hover{
  background-color: #F4A22C;
  color: #FFFFFF;
}
li.f:hover,#nav6:hover{
  background-color: #F4A22C;
  color: #FFFFFF;
}
li.g:hover,#nav7:hover{
  background-color: #F4A22C;
  color: #FFFFFF;
}
